@use 'sass:color';
//$surface-strongest: rgb(10, 10, 10);
//$surface-strong: rgb(20, 20, 20);
//$surface-moderate: rgb(28, 28, 28);
//$surface-weak: rgb(34, 34, 34);
//$surface-weakest: rgb(40, 40, 40);

$surface-dark: #1d2021;
$surface-strongest: #282828;
//$surface-strong: color.scale($surface-strongest, $lightness: +2.5%);;
$surface-strong: color.scale($surface-strongest, $lightness: 0%);;
$surface-moderate: color.scale($surface-strongest, $lightness: +5%);
$surface-weak: color.scale($surface-strongest, $lightness: +7.5%);//#3c3836;
$surface-weakest: color.scale($surface-strongest, $lightness: +10%);

$white-moderate: rgba(255, 255, 255, 0.34);
$white-weak: rgba(255, 255, 255, 0.14);
$white-weakest: rgba(255, 255, 255, 0.06);
$white-strongest: #fbf1c7;
$white-strong: #ebdbb2;

$black-strongest: rgba(0, 0, 0, 1);
$black-strong: rgba(0, 0, 0, 0.87);
$black-moderate: rgba(0, 0, 0, 0.42);
$black-weak: rgba(0, 0, 0, 0.15);
$black-weakest: rgba(0, 0, 0, 0.06);

$red-normal: #cc241d;
$red-light: #fb4934;
$orange-normal: #d65d0e;
$orange-light: #fe8019;
$yellow-normal: #d79921;
$yellow-light: #fabd2f;
$green-normal: #98971a;
$green-light: #b8bb26;
$cyan-normal: #689d6a;
$cyan-light: #8ec07c;
$blue-normal: #458588;
$blue-light: #83a598;
$purple-normal: #b16286;
$purple-light: #d3869b;
$pink-normal: #e16286;
$pink-light: #f3869b;

$accent-primary: $cyan-light;
$accent-secondary: $green-normal;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-strong};
