$background-1: #101415;
$background-2: #0e1112;
$background-3: #131718;

$accent-1: #ee6a70;
$accent-2: #e79c61;
$accent-3: #ffb29b;
$accent-4: #96d6b0;
$accent-5: #7ba5dd;
$accent-6: rgb(53, 53, 165);
$accent-7: rgb(126, 63, 213);
$accent-8: #cb92f2;

$primary-accent: $accent-5;
$secondary-accent: $accent-5;

$foreground-color: #c5c9c8;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$background-2};